.camera-viewer-flex-row-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.camera-viewer-flex-colmn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.camera-viewer-image {
    max-height: 100%;
    max-width: 100%;
}

.camera-viewer-image-loading {
    height: auto;
    width: auto;
}

.camera-viewer-image-camera {
    height: 100%;
    width: auto;
}