.pad-state-circle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;      
    border: solid 1px  #666666;
    font-size: 0.8em;
    min-width: 1.8em;
    min-height: 1.8em;
}

.pad-state-pressed {
    background-color:#ffa500;  
}

.pad-state-default {
    background-color:#666666;  
}
/* axes 背景 */
.pad-state-axes {
    border-radius: 50%; 
    position: relative;
    background-color: white;
    width: 1.8em;
    height: 1.8em;
}
.pad-state-axes-dot {
    margin: auto;
    padding: 0;
    position: absolute;
    top : 0;
    bottom: 0;
    left: 0;
    right: 0;    
    border-radius: 50%; 
    background-color: #ffa500;
    width: 5px;
    height: 5px;
}