/* テンプレートクラス */

* {
    box-sizing: border-box;
}

html,
body {
    font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 14px;
}

/* 枠など */

.flex-row-group {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.flex-row-group >:not(:last-child) {
    margin-right: 10px;
}

.flex-colmn-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.flex-colmn-group >:not(:last-child) {
    margin-bottom: 10px;
}

.flex-row-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.flex-row-list >:first-child {
    margin-left: 10px;
}

.flex-row-list > * {
    margin-right: 10px;
}

.flex-colmn-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.flex-colmn-list >:first-child {
    margin-top: 10px;
}

.flex-colmn-list >:not(:last-child) {
    margin-bottom: 10px;
}

/* 個別のいろいろ */

.background {
    background-color: #111111;
}

.grid {
    background-color: #333333;
    color: #ffffff;
}

.grid-island {
    border-radius: 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.head-wrapper {
    width: 100%;
    height: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    justify-content: space-between;
}

.head-wrapper >:first-child {
    margin-left: 10px;
}

.head-wrapper >:last-child {
    margin-right: 10px;
}

.foot-wrapper {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    justify-content: space-between;
}

.foot-wrapper > * {
    margin: 0 5px;
}

.foot-wrapper >:first-child {
    margin-left: 10px;
}

.main-container {
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.center-bar {
    flex: 1;
    overflow: hidden;
}

.side-bar {
    width: 200px;
}

#custom-area1 {
    flex-grow: 1;
}

#custom-area2 {
    flex-grow: 1;
}

#simple-board {
    width: 100%;
    height: 200px;
    margin: 10px 10px;
}

.head-bar-pair-div >:not(:first-child) {
    margin-left: 10px;
}

.pair-div >:not(:first-child) {
    margin-left: 10px;
}

#emergency-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(255, 70, 0, 0.7);
    justify-content: center;
    color: white;
    visibility: hidden;
}



.head-bar .battery {
    text-align: right;
    display: inline-block;
    min-width: 40px;
}